@model VideoGalleryPresentation.Models.VideoViewModel
@{
    ViewData["Title"] = "Home Page";
}
@using (Html.BeginForm(null, null, FormMethod.Post))
{
    <div class="text-center">
        <h1 class="display-4">Welcome to Proxy Video Gallery</h1>
    </div>
    <table>
        <tr>
            <td>
                <h2>
                    Choose a video:
                    @Html.DropDownListFor(Model => Model.SelectedVideoId, new SelectList(Model.Videos, "Id", "Name"),
    "Select Video", new { onChange = "this.form.submit()" })
                </h2>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding:10px 0">
                <video src="@Url.Content(Model.Path)" width="670" height="500" controls type="video/mp4" autoplay loop
                       style="border: 3px solid #00A4CCFF;"></video>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="HD" value="High Definition"
                       style="background-color: #00A4CCFF; border:none; color: white; padding: 15px 32px;
                    text-align:center; font-size:16px" />
            </td>
        </tr>
    </table>
}
